.node-label {
  font-weight: normal !important;
  padding: 2px 4px !important;
  margin: 0 !important;
  font-family: Iosevka, "Courier New", Courier, monospace;
  border-radius: 0;
}

.node-label:hover {
  filter: brightness(1.6);
}

.node-hovered-label {
  filter: brightness(1.6);
}
