.node-label {
  font-weight: normal !important;
  padding: 2px 8px !important;
  margin: 0 !important;
  font-family:
    "JetBrains Mono", "Fira Code", "SF Mono", Monaco, "Cascadia Code",
    "Roboto Mono", Consolas, "Courier New", monospace;
  border-radius: 8px;
}

.node-label:hover {
  filter: brightness(1.6);
}

.node-hovered-label {
  filter: brightness(1.6);
}
